.idea
.pytest_cache
.vscode
*.pyc
logs/
*output*
log*
runs
src/__pycache__
script/savedlogs
script/res
data/mmdetection*
*.mp4
*_tmp*
lib/mmdetection/work_dirs/cascade_rcnn_x101_64x4d_fpn_1x_kitti2d/*
models/
